<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Bronchitis</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themefisher-fonts.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css')}}">
        <link id="color-changer" rel="stylesheet" href="{{ url_for('static', filename='css/colors/color-0.css')}}">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-resume relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <p>Please try to follow the given suggestions.</p>
                                </div>
                            </div>
                        </div> <!-- /.row -->

                        <div class="row h-100">
                            <div class="col-sm-12 col-md-6 h-100 mb-5">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Foods to avoid</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="fa fa-glass"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Cold Drinks</h5>
                                                <p>Avoid giving cold drinks to your young child since it may result in asthma or bronchitis.</p>
                                            </div>
                                        </div>
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="fa fa-cutlery"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Ice Cream</h5>
                                                <p>Avoid giving Ice Cream to your young child since it may result in asthma or bronchitis in later part of life.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                            <div class="col-sm-12 col-md-6 h-100">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Suggested Food</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="fa fa-cutlery"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Leafy Green Vegetable</h5>
                                                <p>Spinach , Cabbage</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="fa fa-cutlery"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Foods containing Vitamin C</h5>
                                                <p>Citrus Fruits- Orange, lemons, limes, grapefruit. <br>Potatoes, Brocolli , Brussel Sprouts , Peppers,Strawberries .</p>
                                            </div>
                                        </div>

                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="/parent" class="link">&larr; Prev Page</a></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-validation.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/form.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>